* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30vh;
}
.test {
  height: 92vh;
}
.counter {
  padding-top: 8%;
  font-size: 2rem;
  text-align: center;
}
.counter p {
  width: 18%;
  margin: 0% auto;
}
.counter button {
  padding: 0% 1%;
  font-size: 1.5rem;
}
.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons button {
  font-size: 1.5rem;
  margin: 1rem;
}
.display {
  background-color: rgb(151, 148, 148);
  color: black;
  width: 8rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}
.display p {
  font-size: 3rem;
}
.theme-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle-theme {
  font-size: 20px;
}
button {
  cursor: pointer;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% auto;
}
.form .input-field {
  font-size: 1.5rem;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  height: 8vh;
}
.navbar a {
  text-decoration: none;
  margin: 1% 3%;
  font-size: 1.5rem;
  color: white;
}
.home,
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  height: 92vh;
}
.fetch {
  font-size: 18px;
  margin: 5% auto;
  width: fit-content;
  text-align: center;
}

ul {
  list-style: none;
}
.error,
.loading {
  font-size: 18px;
  text-align: center;
  margin: 20% auto;
}
.fetch ul li a {
  color: blue;
}
@media screen and (max-width: 560px) {
  .counter p {
    width: 40%;
  }
}
